@import "modules/rwd";

@import "modules/colors";
@import "modules/typo";

html, body {
	min-width: 100vw;
	min-height: calc(100vh - 54px);

	background-color: #fff;
}

@import "modules/full";
@import "modules/center";
@import "modules/bg";
@import "modules/label";
@import "modules/nav";

@import "page/welcome";
@import "page/trending";
@import "page/gallery";
@import "page/inbox";