@import "modules/rwd";

@import "modules/colors";
@import "modules/typo";

html, body {
	min-width: 100vw;
	min-height: 100vh;

	background-color: #fff;
}

@import "modules/full";
@import "modules/center";
@import "modules/bg";
@import "modules/label";
@import "modules/nav";

@import "page/welcome";
@import "page/trending";
@import "page/gallery";