@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico';
body {
  font-family: 'Lato', sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: rgba(255, 255, 255, 0.95); }

h1 {
  font-weight: 400; }

p, a, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  color: rgba(255, 255, 255, 0.95); }
  a:hover, a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6); }

.picLogo {
  font-size: 100px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.95); }

.textLogo {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px; }

.text-invert p, .text-invert a, .text-invert i, .text-invert h1, .text-invert h2, .text-invert h3, .text-invert h4, .text-invert h5, .text-invert h6 {
  color: #000; }

html, body {
  min-width: 100vw;
  min-height: calc(100vh - 44px);
  background-color: #fff; }

.full {
  min-width: 100vw;
  min-height: 100vh; }

.centerContainerHV {
  display: flex;
  align-items: center;
  justify-content: center; }

.centerHV {
  max-width: 80%; }

.centerContainerV {
  display: flex;
  align-items: center; }

.bg-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e59a72+0,e0735e+50,d23c3e+100 */
  background: #e59a72;
  background: -moz-linear-gradient(-45deg, #e59a72 0%, #e0735e 50%, #d23c3e 100%);
  background: -webkit-linear-gradient(-45deg, #e59a72 0%, #e0735e 50%, #d23c3e 100%);
  background: linear-gradient(135deg, #e59a72 0%, #e0735e 50%, #d23c3e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59a72', endColorstr='#d23c3e',GradientType=1 ); }

.label {
  display: inline-block;
  padding: .25em .4em;
  font-size: 65%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem; }

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem; }

.label-red {
  background-color: #df665b; }

.navbar-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px; }
  .navbar-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; }
    .navbar-top ul li {
      text-align: center; }
      .navbar-top ul li.title {
        margin: 0 auto; }

.navbar-side {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-image: url("https://static.pexels.com/photos/33227/sunrise-phu-quoc-island-ocean-large.jpg");
  background-size: cover;
  background-position: center; }
  .navbar-side .content {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(61, 78, 91, 0.25); }
    .navbar-side .content ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 40px; }
      .navbar-side .content ul li {
        margin: 20px 0; }
        .navbar-side .content ul li a {
          font-size: 20px;
          font-weight: 400; }
    .navbar-side .content .userInfo {
      position: absolute;
      left: 40px;
      bottom: 20px;
      width: 100%; }
      .navbar-side .content .userInfo .userAvatar {
        width: 50px; }
      .navbar-side .content .userInfo h6, .navbar-side .content .userInfo a {
        margin: 0;
        padding: 0; }
      .navbar-side .content .userInfo .media-body {
        padding: 6px 0 0 10px; }

.signinHeader {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0; }
  .signinHeader .close {
    position: absolute;
    right: 30px;
    top: 4px; }

.form-group {
  margin: 0;
  margin-bottom: 20px; }
  .form-group .form-control {
    border-radius: 0;
    padding: 15px 10px; }
    .form-group .form-control:first-child {
      border-bottom-color: transparent; }
      .form-group .form-control:first-child:focus {
        border-bottom-color: #66afe9; }

.btn-form {
  border-radius: 0;
  border: none;
  width: 100%;
  padding: 15px 10px;
  color: rgba(255, 255, 255, 0.95); }

.forgot {
  margin-top: 10px;
  display: block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5) !important; }
  .forgot:hover, .forgot:focus {
    color: #000 !important; }

.signinFooter {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0; }
  .signinFooter .register {
    font-size: 20px; }
    .signinFooter .register:hover, .signinFooter .register:focus {
      color: rgba(0, 0, 0, 0.5) !important; }

.trending.posts {
  margin-top: 40px;
  width: 100%;
  position: relative; }
  .trending.posts .post {
    border-bottom: 2px solid #eef0f1;
    color: black; }
    .trending.posts .post .tag {
      color: #e37985; }
    .trending.posts .post .row {
      width: 100%;
      margin: 0; }
    .trending.posts .post .col-xs-6 {
      margin: 0;
      padding: 0; }
    .trending.posts .post .info {
      width: 100%;
      height: 90px;
      padding: 10px 5px;
      position: relative; }
      .trending.posts .post .info .userAvatar {
        height: 70px; }
      .trending.posts .post .info .media-body {
        padding: 12px 10px;
        text-align: left; }
      .trending.posts .post .info h6, .trending.posts .post .info a {
        margin: 0;
        padding: 0; }
      .trending.posts .post .info .mapMark {
        font-size: 40px;
        line-height: 65px;
        color: #3d4e5b; }
    .trending.posts .post .content {
      background-color: #f9fbfc;
      padding-bottom: 10px; }
      .trending.posts .post .content p {
        margin: 10px 10px 0 10px;
        text-align: justify;
        font-size: 15px; }
        .trending.posts .post .content p .tag {
          font-size: 15px; }
    .trending.posts .post .reaction {
      padding: 10px 0; }
      .trending.posts .post .reaction ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around; }
        .trending.posts .post .reaction ul li {
          text-align: center; }
          .trending.posts .post .reaction ul li a {
            color: #000;
            font-size: 14px; }
            .trending.posts .post .reaction ul li a i {
              margin-left: 5px;
              color: #e37985; }
            .trending.posts .post .reaction ul li a:hover, .trending.posts .post .reaction ul li a:focus {
              color: rgba(0, 0, 0, 0.5); }

.gallery.posts {
  margin-top: 40px;
  width: 100%;
  min-height: calc(100vh - 44px);
  position: relative;
  padding: 10px;
  background-color: #eef0f1;
  column-count: 2;
  column-gap: 10px; }
  .gallery.posts .post {
    margin: 10px 0 0 0;
    display: inline-block;
    width: 100%;
    color: black; }
    .gallery.posts .post .content {
      width: 100%; }
      .gallery.posts .post .content .img-fluid {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px; }
    .gallery.posts .post .reaction {
      padding: 10px;
      background-color: white;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
      .gallery.posts .post .reaction ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around; }
        .gallery.posts .post .reaction ul li {
          text-align: center; }
          .gallery.posts .post .reaction ul li a {
            color: #000;
            font-size: 14px; }
            .gallery.posts .post .reaction ul li a i {
              margin-left: 5px;
              color: #e37985; }
            .gallery.posts .post .reaction ul li a:hover, .gallery.posts .post .reaction ul li a:focus {
              color: rgba(0, 0, 0, 0.5); }
          .gallery.posts .post .reaction ul li.tag {
            margin: 0 auto;
            line-height: 19px; }
