.bg-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e59a72+0,e0735e+50,d23c3e+100 */
	background: rgb(229,154,114);
	background: -moz-linear-gradient(-45deg,  rgba(229,154,114,1) 0%, rgba(224,115,94,1) 50%, rgba(210,60,62,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(229,154,114,1) 0%,rgba(224,115,94,1) 50%,rgba(210,60,62,1) 100%);
	background: linear-gradient(135deg,  rgba(229,154,114,1) 0%,rgba(224,115,94,1) 50%,rgba(210,60,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59a72', endColorstr='#d23c3e',GradientType=1 );
}