.label {
	display: inline-block;
	padding: .25em .4em;
	font-size: 65%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem
}

.label-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}

.label-navbar {
	padding: 4px 5px 6px 5px;
	top: -1px;
	position: relative;
}

.label-red {
	background-color: #df665b;
}
.label-dark {
	background-color: map-get($colors, lightBlack);
}
