.gallery {
	background-color: map-get($colors, gray);
}
.gallery.posts {
	margin-top: 99px;
	width: 100%;
	position: relative;

	padding: 10px;

	column-count: 1;
    column-gap: 10px;

    @include mquery(xs) {
    	column-count: 2;
    }
    @include mquery(sm) {
    	column-count: 3;
    }
    @include mquery(md) {
    	column-count: 4;
    }
    @include mquery(xl) {
    	column-count: 5;
    }
    @include mquery(xxl) {
    	column-count: 6;
    }

	.post {
		margin: 10px 0 0 0;
		display: inline-block;
		width: 100%;
		//float: left;
		color: black;

		.content {
			width: 100%;
			.img-fluid {
				width: 100%;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
		}

		.reaction {
			padding: 10px;
			background-color: white;

			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				width: 100%;

				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				  
				-webkit-flex-flow: row wrap;
				justify-content: space-around;

				li {
					text-align: center;
					a {
						color: map-get($colors, black);
						font-size: 14px;
						font-weight: 300;
						i {
							margin-left: 5px;
							color: map-get($colors, pink);
						}
						&:hover,
						&:focus {
							color: map-get($colors, lightBlack);
						}
					}
					&.tag {
						margin: 0 auto;
						line-height: 19px;
					}
				}
			}
		}
	}
}